div:nth-child(3) h3{font-family:sans-serif; font-style: italic;}
div:nth-child(4) h3{font-family:Arial;}
div:nth-child(5) h3{color: #0400ff; font-style:italic;}
div:nth-child(6) h3{color:white;}
div:nth-child(7) h3{font-weight:100; font-style: italic;}

div:hover{
  border: 2px solid black;
}
div:nth-child(3){background-color: red;}
div:nth-child(4){background-color: green;}
div:nth-child(5){background-color: orange; height: 80px;}
div:nth-child(6){background-color: dimgray;}