li{font-size: 20px;}
ol li{
  background-color: yellow;
}
.itemPar{
  color: green;
}
.itemImpar{
  text-transform: uppercase;
}
h1,h3{
  color: red;
}
h1 em{
  font-size: 40px;
  border: 1px solid black;
}
li em{
  font-weight: bolder;
}
.top3{
  color: blue;
}
.aliado:hover{
  font-weight: bolder;
}
.a1:hover{color: orange;}
.a2:hover{color: #04AA6D;}
.a3:hover{color: #1b1b1b;}
.a4:hover{color: #fffdcd;}
.a5:hover{color: rgb(47,193,140);}